<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guia de Fish 2025 walktrought speedrun %%time 20:04 seg</title>
</head>
<body>
    <header>
       <h1><a href="{%url 'publications-list' %}">Blog de Fish</a></h1>
     <div>
          <button><a href="{% url 'publication-create' %}">Crear publicación</a></button>
     </div>
    </header>

    {% if user.is_authenticated %}
     <p>Hola {{ user.username }} </p>
    {% else %}
     <a href="{%url 'login'%}">Iniciar Sesion</a>
    {% endif %}

    {% block content %}

    {% endblock content %}
</body>
</html>